* {
  font-family: JetBrainsMonoNL Nerd Font;
  color: #ebdbb2;
}

.modules-right {
  margin: 8px 8px 0 0;
}
.modules-center {
  margin: 8px 0 0 0;
}
.modules-left {
  margin: 8px 0 0 8px;
}

window#waybar {
  background: transparent;
}

#workspaces button {
  padding: 0 4px;
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  border-radius: 0;
  border-top: 2px solid transparent;
  box-shadow: none;
	text-shadow: none;
}

#workspaces button:hover {
  border-top: 2px solid #fabd2f;
  background: inherit;
  background-color: rgba(0, 0, 0, 0.6);
}

#workspaces button.active {
  border-top: 2px solid #fabd2f;
}

#window {
  padding: 0 8px;
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  border-radius: 0;
  border-top: 2px solid transparent;
  box-shadow: none;
	text-shadow: none;
}

#battery, #clock, #pulseaudio {
  padding: 0 8px;
  background-color: rgba(0, 0, 0, 0.6);
}

#custom-battery-bar {
  font-size: 8px;
  background-color: #8ec07c;
}

#custom-battery-bar.critical {
  background-color: #fb4934;
}

#custom-clock-bar {
  font-size: 8px;
  background-color: #d3869b;
}

#custom-pulseaudio-bar {
  font-size: 8px;   
  background-color: #83a598;
}
