@import '/home/_bqn/.config/waybar/nord.css';

* {
    font-family: JetBrainsMonoNL Nerd Font;
}

window#waybar {
    background-color: @nord0;
    color: @nord4;
}

#workspaces button {
    padding: 0 4px;
    background: transparent;
    color: @nord4;
    border: none;
    border-radius: 0;
    box-shadow: none;
	text-shadow: none;
}

#workspaces button:hover {
    background-color: @nord9;
}

#workspaces button.active {
    background-color: @nord10;
}

#battery, #clock, #wireplumber {
    padding: 0 8px;
    color: @nord0;
}

#battery {
    background-color: @nord14;
}

#battery.critical {
    background-color: @nord11;
}

#clock {
    background-color: @nord13;
}

#wireplumber {
    background-color: @nord15;
}